<a href="https://colab.research.google.com/github/dev-sayantan/MainCrafts-Technology-Data-Science-Internship/blob/main/student_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <strong>Task 01 - <u>STUDENT PERFORMANCE DATA ANALYSIS</u></strong>


---

In [11]:
# REQUIRED IMPORTS - PYTHON DATA ANALYSIS & VISUALIZATION LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# IMPORT PYTHON'S zipfile MODULE TO EXTRACT SPECIFIC FILE FROM ZIP ARCHIVE
from zipfile import ZipFile

# EXTRACTING PROCESS :-
# OPEN THE ZIP FILE
with ZipFile('/content/drive/MyDrive/Colab Notebooks/MainCrafts_Technology_DataSc_Internship_Tasks/Datasets/student.zip') as zObject:
# SPECIFIC FILE EXTRACTION(student-mat.csv) FROM ZIP ARCHIVE TO "Extracted" FOLDER
  zObject.extract('student-mat.csv', path='/content/drive/MyDrive/Colab Notebooks/MainCrafts_Technology_DataSc_Internship_Tasks/Datasets/Extracted')

In [13]:
# RUN & VIEW THE DATASET
extracted_stumat = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MainCrafts_Technology_DataSc_Internship_Tasks/Datasets/Extracted/student-mat.csv',sep=';')
print(extracted_stumat)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [14]:
# EXPLORING FURTHER :- CHECKING SHAPE OF THE DATAFRAME
print(f"Shape of DataFrame: {extracted_stumat.shape}")

Shape of DataFrame: (395, 33)

In [15]:
# EXPLORING FURTHER :- CHECKING DATATYPE OF THE DATAFRAME & ALSO FOR ALL FEATURES/COLUMNS
print(extracted_stumat.dtypes)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [16]:
# CHECKING / IDENTIFYING ALL MISSING VALUES, IF ANY, PRESENT IN THE DATAFRAME "extracted_stumat"
missing_values = extracted_stumat.isnull()
missing_value_count = extracted_stumat.isnull().sum()
print(missing_values)
print(missing_value_count)
# CHECKING THE SHAPE OF DATAFRAME OBJECT HAVING ONLY MISSING VALUES
print(missing_values.shape)

     school    sex    age  address  famsize  Pstatus   Medu   Fedu   Mjob  \
0     False  False  False    False    False    False  False  False  False
1     False  False  False    False    False    False  False  False  False
2     False  False  False    False    False    False  False  False  False
3     False  False  False    False    False    False  False  False  False
4     False  False  False    False    False    False  False  False  False
..      ...    ...    ...      ...      ...      ...    ...    ...    ...
390   False  False  False    False    False    False  False  False  False
391   False  False  False    False    False    False  False  False  False
392   False  False  False    False    False    False  False  False  False
393   False  False  False    False    False    False  False  False  False
394   False  False  False    False    False    False  False  False  False

      Fjob  ...  famrel  freetime  goout   Dalc   Walc  health  absences  \
0    False  ...   False     False  False  False  False   False     False
1    False  ...   False     False  False  False  False   False     False
2    False  ...   False     False  False  False  False   False     False
3    False  ...   False     False  False  False  False   False     False
4    False  ...   False     False  False  False  False   False     False
..     ...  ...     ...       ...    ...    ...    ...     ...       ...
390  False  ...   False     False  False  False  False   False     False
391  False  ...   False     False  False  False  False   False     False
392  False  ...   False     False  False  False  False   False     False
393  False  ...   False     False  False  False  False   False     False
394  False  ...   False     False  False  False  False   False     False

        G1     G2     G3
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
390  False  False  False
391  False  False  False
392  False  False  False
393  False  False  False
394  False  False  False

[395 rows x 33 columns]
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64
(395, 33)

In [17]:
# REMOVING DUPLICATE VALUES PRESENT IN THE DATAFRAME
extracted_uniqueVal_stumat = extracted_stumat.drop_duplicates(keep=False)
extracted_uniqueVal_stumat

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [18]:
# CHECKING THE SHAPE OF THE DATAFRAME TO CONFIRM THAT THERE ARE NO DUPLICATE VALUES PRESENT IN THE DATASET
if extracted_stumat.shape == extracted_uniqueVal_stumat.shape:
  print("No Duplicate Values Found")
else:
  print("Duplicate Values Found :\n", extracted_stumat.duplicated(keep=False))

No Duplicate Values Found

In [19]:
extracted_stumat_descrStat = extracted_stumat.describe()
extracted_stumat_descrStat

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

## ANALYSIS QUESTIONS


---

#####

#### AVERAGE FINAL GRADE (G3)

In [22]:
# AVERAGE FINAL GRADE(G3) :-
# METHOD ONE -->
print("Average Final Grade(G3) [From Descriptive Statistics Table Obtained From DataFrame]:", extracted_stumat_descrStat.loc['mean', 'G3'])
# METHOD TWO -->
print("Average Final Grade(G3) [From The Cleaned DataFrame, After Performing Missing & Duplicate Values Removal]:", extracted_stumat['G3'].mean())

Average Final Grade(G3) [From Descriptive Statistics Table Obtained From DataFrame]: 10.415189873417722
Average Final Grade(G3) [From The Cleaned DataFrame, After Performing Missing & Duplicate Values Removal]: 10.415189873417722

##### Analysis Outcome --> I have calculated in two methods using two different DataFrames,
* First one obtained after generating descriptive statistics and applying pandas accessor .loc[] used for selecting data from a DataFrame by its labels (the row and column names), specifically used for label-based indexing and selection.
* The second method is about filtering a required part of the DataFrame, based on specific required feature/column name. The average final grade obtained by using the Pandas mean() function compute the arithmetic mean (average) of data within a Series or DataFrame.

#### HOW MANY STUDENTS SCORED ABOVE 15?

In [23]:
extracted_stumat

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [24]:
stu_G3_Above15_totalCount = extracted_stumat[extracted_stumat['G3'] > 15].value_counts().sum()
print("Number of Students Who Scored Above 15 are:", stu_G3_Above15_totalCount)

Number of Students Who Scored Above 15 are: 40

##### Analysis Outcome --> By performing BOOLEAN INDEXING to FILTER the DATAFRAME to obtain only those students who got above 15, then by using value_counts() function, returning a SERIES per distint row, containing the frequency/occurance of students having more than 15, within the DATAFRAME & finally using sum() to aggregate the frequencies/occurances.

#### IS studytime CORRELATED WITH performance?

In [25]:
print(extracted_stumat.columns)

print(extracted_stumat.corr(numeric_only=True))

print("Correlation Coefficient value, between two features/columns: 'studytime' & 'G3' is =", extracted_stumat['studytime'].corr(extracted_stumat['G3']))

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')
                 age      Medu      Fedu  traveltime  studytime  failures  \
age         1.000000 -0.163658 -0.163438    0.070641  -0.004140  0.243665
Medu       -0.163658  1.000000  0.623455   -0.171639   0.064944 -0.236680
Fedu       -0.163438  0.623455  1.000000   -0.158194  -0.009175 -0.250408
traveltime  0.070641 -0.171639 -0.158194    1.000000  -0.100909  0.092239
studytime  -0.004140  0.064944 -0.009175   -0.100909   1.000000 -0.173563
failures    0.243665 -0.236680 -0.250408    0.092239  -0.173563  1.000000
famrel      0.053940 -0.003914 -0.001370   -0.016808   0.039731 -0.044337
freetime    0.016434  0.030891 -0.012846   -0.017025  -0.143198  0.091987
goout       0.126964  0.064094  0.043105    0.028540  -0.063904  0.124561
Dalc        0.131125  0.019834  0.002386    0.138325  -0.196019  0.136047
Walc        0.117276 -0.047123 -0.012631    0.134116  -0.253785  0.141962
health     -0.062187 -0.046878  0.014742    0.007501  -0.075616  0.065827
absences    0.175230  0.100285  0.024473   -0.012944  -0.062700  0.063726
G1         -0.064081  0.205341  0.190270   -0.093040   0.160612 -0.354718
G2         -0.143474  0.215527  0.164893   -0.153198   0.135880 -0.355896
G3         -0.161579  0.217147  0.152457   -0.117142   0.097820 -0.360415

              famrel  freetime     goout      Dalc      Walc    health  \
age         0.053940  0.016434  0.126964  0.131125  0.117276 -0.062187
Medu       -0.003914  0.030891  0.064094  0.019834 -0.047123 -0.046878
Fedu       -0.001370 -0.012846  0.043105  0.002386 -0.012631  0.014742
traveltime -0.016808 -0.017025  0.028540  0.138325  0.134116  0.007501
studytime   0.039731 -0.143198 -0.063904 -0.196019 -0.253785 -0.075616
failures   -0.044337  0.091987  0.124561  0.136047  0.141962  0.065827
famrel      1.000000  0.150701  0.064568 -0.077594 -0.113397  0.094056
freetime    0.150701  1.000000  0.285019  0.209001  0.147822  0.075733
goout       0.064568  0.285019  1.000000  0.266994  0.420386 -0.009577
Dalc       -0.077594  0.209001  0.266994  1.000000  0.647544  0.077180
Walc       -0.113397  0.147822  0.420386  0.647544  1.000000  0.092476
health      0.094056  0.075733 -0.009577  0.077180  0.092476  1.000000
absences   -0.044354 -0.058078  0.044302  0.111908  0.136291 -0.029937
G1          0.022168  0.012613 -0.149104 -0.094159 -0.126179 -0.073172
G2         -0.018281 -0.013777 -0.162250 -0.064120 -0.084927 -0.097720
G3          0.051363  0.011307 -0.132791 -0.054660 -0.051939 -0.061335

            absences        G1        G2        G3
age         0.175230 -0.064081 -0.143474 -0.161579
Medu        0.100285  0.205341  0.215527  0.217147
Fedu        0.024473  0.190270  0.164893  0.152457
traveltime -0.012944 -0.093040 -0.153198 -0.117142
studytime  -0.062700  0.160612  0.135880  0.097820
failures    0.063726 -0.354718 -0.355896 -0.360415
famrel     -0.044354  0.022168 -0.018281  0.051363
freetime   -0.058078  0.012613 -0.013777  0.011307
goout       0.044302 -0.149104 -0.162250 -0.132791
Dalc        0.111908 -0.094159 -0.064120 -0.054660
Walc        0.136291 -0.126179 -0.084927 -0.051939
health     -0.029937 -0.073172 -0.097720 -0.061335
absences    1.000000 -0.031003 -0.031777  0.034247
G1         -0.031003  1.000000  0.852118  0.801468
G2         -0.031777  0.852118  1.000000  0.904868
G3          0.034247  0.801468  0.904868  1.000000
Correlation Coefficient value, between two features/columns: 'studytime' & 'G3' is = 0.09781968965319626

##### Analysis Outcome --> After checking all the column names, printing correlation matrix having correlation coefficient values between features with only numeric datatypes, ignoring the non-numeric datatypes. Then, checking correlation between the two columns only - 'studytime' & 'G3', indicating that it has a very low/weak positive correlation between them, 0.0978.

#### WHICH GENDER PERFORMS BETTER ON AVERAGE?

In [29]:
gender_count = extracted_stumat['sex'].value_counts()
print(gender_count)
extracted_stumat['G3'].groupby(extracted_stumat['sex']).mean()

sex
F    208
M    187
Name: count, dtype: int64

sex
F     9.966346
M    10.914439
Name: G3, dtype: float64

##### Analysis Outcome --> So, above output is clearly showing that 187 Male students are having average final grade(G3) of 10.9, and thus performs better than 208 Female students who secured 9.96 as average final grade(G3).